<template>
    <div id="books-page">

        <div class="page-header">
            <h3>Books</h3>

            <span class="flex"></span>

            <!--Sort Notes-->
            <input class="notes-filter form-control" type="text" placeholder="Write here to filter your notes..." v-model="searchText" debounce="500">
            <button class="clear-filter-button" v-on:click="clearFilter()">
                <i class="fas fa-search" v-bind:class="searchText.length === 0 ? 'fa-search' : 'fa-times'" aria-hidden="true"></i>
            </button>

        </div>

        <div class="page-content" v-if="!loadingBooks">

            <div class="books-list">

                <div class="row-container align-center">

                    <!--Sort Books-->
                    <div class="dropdown">
                        <icon-button v-bind:icon-class="sortingDirection ? 'fas fa-sort-amount-up' : 'fas fa-sort-amount-down'" v-bind:on-click="() => {}" data-toggle="dropdown"/>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" v-for="option in bookSortingOptions" v-on:click="toggleSort(option.Id)">
                                <div class="row-container align-center">
                                    <span>{{option.Name}}</span>
                                    <span class="flex"></span>
                                    <i class="fas fa-check" v-if="selectedBookSort === option.Id"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!--Add Book-->
                    <icon-button icon-class="fas fa-plus" v-bind:on-click="addNewBook"/>

                </div>

                <div class="list">
                    <book-list-entry v-bind:class="{active: selectedBookId === book.id}"
                                     v-for="book in sortedBooks"
                                     v-on:click.native="selectBook(book.id)"
                                     v-bind:book-name="book.name"
                                     v-bind:book-category-id="book.categoryId"/>
                </div>

            </div>

            <div class="books-notes" v-if="selectedBook !== null">

                <loading-spinner v-if="loadingNotes"/>

                <div class="book-notes-container" v-else>
                    <div class="header">

                        <!--Book Category-->
                        <div class="dropdown" style="margin-bottom: 1px;">
                            <button id="bookCategoryMenuButton" class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="row-container align-center">
                                    <span class="book-category" v-bind:style="'background-color: ' + selectedBookCategoryColor"></span>
                                    <span class="flex"></span>
                                    <span>{{selectedBookCategoryName}}</span>
                                </div>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="bookCategoryMenuButton">
                                <a class="dropdown-item" href="#" v-for="option in bookCategories.properties" v-on:click="saveBookCategory(option.Id)">
                                    <div class="row-container align-center">
                                        <span class="book-category" v-bind:style="'background-color: ' + option.Color"></span>
                                        <span>{{option.Name}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!--Book Name-->
                        <editable-text class="selected-book-name" v-bind:text="selectedBook.name" v-bind:on-change="commitBookRename"/>

                        <!--Book Notes Count-->
                        <span class="selected-book-notes-count">
                            {{selectedBookNotesCountDescription}}
                        </span>
                        <!--<select class="selected-book-category form-control" v-on:change="saveBookCategory()" v-bind="selectedBook.category" v-model="selectedCategoryId">
                            <option v-for="category in bookCategories.properties" v-bind:value="category.Id">
                                {{category.Name}}
                            </option>
                        </select>-->

                        <!--Delete Book-->
                        <circle-button icon-class="fa-trash" icon-color="white" v-on:click.native="deleteBook()"/>
                    </div>

                    <div id="notes-list" class="list">
                        <div class="note-entry" v-for="note in filteredNotes">
                            <editable-text class="note-description" :text="note.note" :on-change="newValue => modifyNote(note,newValue)"/>
                            <p class="note-date">{{note.createdDate.format('D/M/YYYY H:mm')}}</p>
                            <button type="button" class="close note-options" aria-label="Close" v-on:click="deleteNote(note)">
                                <i class="fas fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        <p class="no-notes-message" v-if="filteredNotes.length === 0">No notes to show</p>
                    </div>

                    <div class="new-note-input">
                        <textarea placeholder="Write you notes here and press enter to save them..." v-model="newNote" v-on:keyup.enter="submitNote()"></textarea>
                    </div>
                </div>

            </div>

        </div>

        <loading-spinner v-if="loadingBooks"/>

    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import alertify from 'alertify.js'

    import enums from '../config/enums.config'
    import logger from '../services/logger.service'

    import CircleButton from '../components/CircleButton'
    import BookListEntry from '../components/BookListEntry'
    import EditableText from '../components/EditableText'
    import LoadingSpinner from '../components/LoadingSpinner'
    import IconButton from '../components/IconButton'

    export default {
        components: {
            CircleButton,
            BookListEntry,
            EditableText,
            LoadingSpinner,
            IconButton
        },
        data() {
            return {
                bookSortingOptions: [
                    {
                        Id: 0,
                        Name: 'Name'
                    },
                    {
                        Id: 1,
                        Name: 'Type'
                    }
                ],
                bookCategories: enums.BookCategory,
                newNote: '',
                selectedBookId: null,
                searchText: '',
                selectedBookSort: 0,
                sortingDirection: true //True is ascending
            }
        },
        created() {
            this.loadBooks();
        },
        computed: {
            ...mapState('books', [
                'loadingBooks',
                'loadingNotes',
                'books',
                'notes'
            ]),

            filteredNotes: function() {
                let searchText = this.searchText.trim().toLowerCase();
                return this.notes.filter(note => {
                    let noteText = note.note.trim().toLowerCase();
                    return noteText.indexOf(searchText) !== -1;
                });
            },
            selectedBookNotesCountDescription: function() {
                let result = 'No notes';
                if(this.selectedBook !== null && this.notes.length > 0) {
                    result = this.notes.length > 1 ? this.notes.length + ' notes' : '1 note';
                    if(this.searchText !== '') result = this.filteredNotes.length + '/' + result;

                    //Scroll notes list to bottom automatically
                    this.$nextTick(() => {
                        let element = document.getElementById("notes-list");
                        element.scrollTop = element.scrollHeight;
                    })
                }
                return result;
            },
            selectedBook: function() {
                if(this.selectedBookId === null) {
                    return null;
                }
                else {
                    return this.books.find((book) => book.id === this.selectedBookId);
                }
            },
            selectedBookCategoryName: function() {
                if(this.selectedBook === null) {
                    return ''
                }
                else {
                    return this.bookCategories.properties[this.selectedBook.categoryId].Name;
                }
            },
            selectedBookCategoryColor: function() {
                if(this.selectedBook === null) {
                    return 'rgba(0,0,0,0)'
                }
                else {
                    return this.bookCategories.properties[this.selectedBook.categoryId].Color;
                }
            },
            sortedBooks: function() {
                let sortedBooks = [];
                this.books.forEach(book => sortedBooks.push(book));

                let sortValue = this.sortingDirection ? 1 : -1;
                if(this.selectedBookSort === 0) {
                    sortedBooks.sort((a,b) => {
                        if(a.name > b.name) return sortValue;
                        else if(a.name < b.name) return -sortValue;
                        else return 0;
                    });
                }
                if(this.selectedBookSort === 1) {
                    sortedBooks.sort((a,b) => {
                        if(a.categoryId > b.categoryId) return sortValue;
                        else if(a.categoryId < b.categoryId) return -sortValue;
                        else return 0;
                    });
                }

                return sortedBooks;
            }
        },
        methods: {
            ...mapActions('books',[
                'loadBooks',
                'loadNotes',
                'addBook',
                'removeBook',
                'changeBookName',
                'changeBookCategory',
                'addNote',
                'editNote',
                'removeNote'
            ]),

            addNewBook: function() {
                alertify
                    .okBtn("Create")
                    .defaultValue("A new book")
                    .prompt("Please insert a name for the new book:", (val, ev) => {
                            // The click event is in the event variable, so you can use it here.
                            ev.preventDefault();

                            if(val.trim() === '') {
                                logger.logWarning('Please insert a name',val,true);
                                this.addNewBook();
                            }
                            else {
                                this.addBook({
                                    name: val,
                                    category: 0
                                });
                            }
                        });
            },
            commitBookRename: function(newName) {
                if(newName.trim() !== '') {
                    this.changeBookName({
                        bookId: this.selectedBook.id,
                        newName: newName
                    });
                }
            },
            saveBookCategory: function (newCategoryId) {
                this.changeBookCategory({
                    bookId: this.selectedBook.id,
                    newCategoryId: newCategoryId
                });
            },
            selectBook: function(bookId) {
                this.selectedBookId = bookId;
                this.loadNotes({
                    bookId: bookId
                });
            },
            deleteBook: function() {
                alertify.confirm('Are you sure you want to delete this book?',() => {
                    this.removeBook({
                        bookId: this.selectedBook.id
                    });
                    logger.logSuccess(this.selectedBook.name + ' deleted successfully',this.selectedBook,true);
                    this.selectedBookId = null;
                });
            },
            submitNote: function() {
                if(this.newNote.trim() !== '') {
                    let newNote = this.newNote.trim();
                    this.addNote({
                        bookId: this.selectedBook.id,
                        newNote
                    });
                    this.newNote = '';
                }
            },
            modifyNote: function(note,newValue) {
                if(newValue.trim() !== '') {
                    this.editNote({
                        noteId: note.id,
                        newNote: newValue
                    });
                }
            },
            deleteNote: function (note) {
                alertify.confirm("Are you sure you want to delete this note?", () => {
                    this.removeNote({
                        noteId: note.id,
                        bookId: this.selectedBook.id
                    });
                    logger.logSuccess('Note deleted successfully',note,true);
                });

            },
            clearFilter: function() {
                this.searchText = '';
            },
            toggleSort: function(selectedSortId) {
                if(this.selectedBookSort === selectedSortId) {
                    this.sortingDirection = !this.sortingDirection;
                }
                else {
                    this.selectedBookSort = selectedSortId;
                    this.sortingDirection = true;
                }
            }
        }
    }
</script>

<style lang="scss">
    #books-page {
        flex: 1;
        display: flex;
        flex-direction: column;

        .page-header {
            display: flex;
            height: 50px;
            padding: 10px 30px;
            background-color: white;
            flex-direction: row;
            align-items: center;
            box-shadow: 0 0 4px #8c8c8c;

            .book-sorting-button {
                margin-right: 10px;
                padding: 0 4px;

                &::after {
                    content: none;
                }

                .fas {
                    margin-right: 6px;
                }
            }

            .notes-filter {
                flex: 1;
                outline: none;
            }

            .clear-filter-button {
                cursor: pointer;
                border: none;
                background: none;
                margin-left: -28px;
                color: #8c8c8c;

                &:focus {
                    outline: 0;
                }
            }
        }

        .page-content {
            display: flex;
            flex-direction: row;
            flex: 1;
            padding: 10px;

            .books-list {
                width: 300px;
                margin: 10px;
                display: flex;
                flex-direction: column;

                .list {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    overflow: auto;

                    .book-list-entry:hover {
                        background-color: #e1e1e1;
                    }

                    .book-list-entry.active {
                        border: none;
                        color: white;
                        background-color: #37bb82;
                    }


                }
            }

            .books-notes {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 10px;

                .book-notes-container {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    overflow: hidden;
                    background-color: white;
                    box-shadow: 0 0 4px #8c8c8c;
                }

                .list {
                    flex: 1;
                    overflow: auto;

                    .note-entry {
                        position: relative;
                        margin: 10px;
                        padding: 2px 8px;
                        border-radius: 4px;
                        background-color: #e1e1e1;
                        box-shadow: 1px 1px 4px #949494;

                        .note-description {
                            margin: 0 12px 6px 0;

                            p {
                                font-weight: 500;
                            }
                        }

                        .note-date {
                            font-size: 12px;
                            color: #696969;
                            margin: 0;
                        }

                        .note-options {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 4px;
                            font-size: 14px;
                        }
                    }
                    .no-notes-message {
                        margin: 30px !important;
                        text-align: center;
                        opacity: 0.6;
                    }
                }

                .new-note-input {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin-bottom: -25px;
                    background-color: #f0f0f0;
                    transition: margin 0.4s;

                    &:focus-within {
                        margin-bottom: 0;
                    }

                    textarea {
                        border: none;
                        resize: none;
                        outline: none;
                        transition: background-color 0.4s;
                        background-color: #f0f0f0;

                        &:focus {
                            background-color: white;
                        }
                    }

                }
            }

            .header {
                display: flex;
                align-items: center;
                padding: 2px 6px;
                color: white;
                background-color: #37bb82;

                #bookCategoryMenuButton {
                    background-color: white;
                }

                .book-category {
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;
                    margin-right: 10px;
                }

                .selected-book-name {
                    flex: 1;
                    margin-left: 10px;

                    p {
                        font-weight: bold;
                        font-size: 18px;
                        max-width: 500px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    i {
                        color: white;
                    }
                }
                .selected-book-notes-count {
                    margin-right: 10px;
                    font-weight: bold;
                }
                .selected-book-category {
                    margin-right: 10px;
                }
            }
        }

    }
</style>
