<template>
    <div id="campaigns-page">

        <div class="page-header">
            <h3>Campaigns</h3>

            <span class="flex"></span>


        </div>

        <div class="page-content" v-if="!loadingCampaigns">

            <div class="campaigns-list">

                <div class="row-container align-center">

                    <!--Add Book-->
                    <icon-button icon-class="fas fa-plus" v-bind:on-click="() => toggleAddCampaignModal(true)"/>


                </div>

                <div class="list">
                    <div class="campaign-entry" v-bind:class="{selected: selectedCampaign !== null && selectedCampaign.id === campaign.id}" v-for="campaign in campaigns" v-on:click="selectCampaign(campaign)">
                        {{campaign.name}}
                    </div>

                    <p v-if="campaigns.length === 0">No campaign added</p>
                </div>

            </div>

            <div class="column-container flex" v-if="selectedCampaign !== null">

                <div class="column-container campaign-details-container" v-if="!savingCampaign">

                    <div class="scroll-container">
                        <custom-input label="Name"
                                      labelDescription="The name that the players will see"
                                      type="text"
                                      v-bind:on-value-changed="newValue => this.selectedCampaign.name = newValue"
                                      v-bind:initial-value="this.selectedCampaign.name"/>

                        <custom-input label="Public Description"
                                      labelDescription="The description of this campaign"
                                      type="textarea"
                                      v-bind:on-value-changed="newValue => this.selectedCampaign.publicDescription = newValue"
                                      v-bind:initial-value="this.selectedCampaign.publicDescription"/>

                        <custom-input label="Private Notes"
                                      labelDescription="Some notes about the campaign that only you will see"
                                      type="textarea"
                                      v-bind:on-value-changed="newValue => this.selectedCampaign.privateNotes = newValue"
                                      v-bind:initial-value="this.selectedCampaign.privateNotes"/>

                        <p class="campaign-date-description">
                            <b>Created: </b>
                            {{createdAtDescription}}
                        </p>
                        <p class="campaign-date-description">
                            <b>Updated:</b>
                            {{updatedAtDescription}}
                        </p>
                    </div>

                    <icon-button class="delete-button" icon-class="fa fa-trash" v-bind:on-click="deleteCampaign"/>

                    <div class="row-container align-center">
                        <span class="flex"></span>

                        <button class="btn btn-light action-button" v-on:click="selectedCampaign = null">
                            Cancel
                        </button>
                        <button class="btn btn-success action-button" v-on:click="saveSelectedCampaign">
                            Save
                        </button>
                    </div>
                </div>

                <loading-spinner v-if="savingCampaign"/>

            </div>

        </div>

        <loading-spinner v-if="loadingCampaigns"/>

        <add-campaign-modal v-bind:visible="addCampaignIsVisible"
                            v-bind:on-confirm-clicked="createNewCampaign"
                            v-bind:on-cancel-clicked="() => toggleAddCampaignModal(false)"/>

    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import alertify from 'alertify.js'

    import Logger from '../services/logger.service'
    import CampaignModel from '../models/campaign.model'

    import LoadingSpinner from '../components/LoadingSpinner'
    import EditableText from '../components/EditableText'
    import CustomInput from '../components/CustomInput'
    import IconButton from '../components/IconButton'
    import AddCampaignModal from '../components/AddCampaignModal'

    export default {
        components: {
            AddCampaignModal,
            LoadingSpinner,
            EditableText,
            CustomInput,
            IconButton
        },
        created() {
            this.loadCampaigns();
        },
        data() {
            return {
                addCampaignIsVisible: false,
                savingCampaign: false,

                selectedCampaign: null,
            }
        },
        computed: {
            ...mapState('campaigns', [
                'loadingCampaigns',
                'campaigns'
            ]),

            createdAtDescription: function() {
                return this.selectedCampaign !== null ? this.selectedCampaign.createdAt.format('Do MMMM YYYY') : '';
            },
            updatedAtDescription: function() {
                return this.selectedCampaign !== null ? this.selectedCampaign.updatedAt.format('Do MMMM YYYY') : '';
            }
        },
        methods: {
            ...mapActions('campaigns',[
                'loadCampaigns',
                'addCampaign',
                'removeCampaign',
                'updateCampaign'
            ]),

            selectCampaign(campaign) {
                this.selectedCampaign = new CampaignModel(campaign);
            },
            createNewCampaign(newCampaignName) {
                let newCampaignModel = new CampaignModel({
                    name: newCampaignName
                });

                this.addCampaign({
                    campaignModel: newCampaignModel
                })
                    .then(() => {
                        Logger.logSuccess('Campaign created successfully',newCampaignModel,true);
                    });
            },
            toggleAddCampaignModal(visible) {
                this.addCampaignIsVisible = typeof visible === 'boolean' ? visible : !this.addCampaignIsVisible
            },
            saveSelectedCampaign() {
                this.savingCampaign = true;
                this.updateCampaign({
                    campaignModel: this.selectedCampaign
                })
                    .then(() => {
                        this.savingCampaign = false;
                        Logger.logSuccess('Campaign saved successfully',this.selectedCampaign,true);
                    });
            },
            deleteCampaign() {
                alertify.confirm("Are you sure you want to delete this campaign?", () => {
                    this.savingCampaign = true;

                    this.removeCampaign({
                        campaignId: this.selectedCampaign.id
                    })
                        .then(() => {
                            this.savingCampaign = false;
                            this.selectedCampaign = null;
                            Logger.logSuccess('Campaign deleted successfully',true,true);
                        })
                });
            }
        }
    }
</script>

<style lang="scss">
    #campaigns-page {
        flex: 1;
        display: flex;
        flex-direction: column;

        .page-header {
            display: flex;
            height: 50px;
            padding: 10px 30px;
            background-color: white;
            flex-direction: row;
            align-items: center;
            box-shadow: 0 0 4px #8c8c8c;
        }

        .page-content {
            display: flex;
            flex-direction: row;
            flex: 1;
            padding: 10px;

            .campaigns-list {
                width: 300px;
                margin: 10px;
                display: flex;
                flex-direction: column;

                .list {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding: 10px;
                    overflow: auto;

                    .campaign-entry {
                        border-radius: 4px;
                        box-shadow: 0 0 4px #8c8c8c;
                        background-color: white;
                        padding: 0 4px;
                        margin-bottom: 8px;
                        cursor: pointer;
                        transition: box-shadow 0.2s;

                        &:hover, &.selected {
                            box-shadow: 0 0 8px 4px #37bb82;
                        }
                    }

                }
            }

            .campaign-details-container {
                position: relative;
                border-top: 6px solid #37bb82;
                flex: 1;
                margin: 10px;
                padding: 10px;
                box-shadow: 0 0 4px #8c8c8c;
                background-color: white;

                .scroll-container {
                    overflow: auto;
                    flex: 1;
                }

                .custom-input {
                    margin-bottom: 14px;
                }

                .editable-text-component {
                    margin-bottom: 20px;

                    .editable-text-button p {
                        font-size: 24px;
                    }
                }

                .action-button {
                    margin-left: 10px;
                }

                .delete-button {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                }
            }
        }
    }
</style>
