<template>
    <div id="home-page">

        <div class="jumbotron">
            <h1 class="display-4">Welcome to D&D - Adventurer's Log</h1>
            <p class="lead">A simple website to make your life easier every time you go out adventuring.</p>
            <hr class="my-4">
            <p>To start using our application, please select one of the available modules below:</p>
            <p class="links lead">
                <router-link class="btn btn-primary btn-lg" to="/campaigns">
                    Campaigns
                </router-link>
                <router-link class="btn btn-primary btn-lg" to="/books">
                    Books
                </router-link>
                <router-link class="btn btn-primary btn-lg" to="/scenarios">
                    Scenarios
                </router-link>
            </p>
        </div>

        <div class="updates-container">
            <h1>Last Updates</h1>
            <div class="updates-list">

                <div class="update-entry" v-for="update in updates" v-bind:key="update.id">
                    <div class="header">
                        <h5 class="title">{{update.title}}</h5>
                        <span class="update-date">{{update.updateDate.format('D/MM/YYYY HH:mm')}}</span>
                    </div>
                    <p class="update-description">{{update.description}}</p>
                </div>

                <loading-spinner v-if="loadingUpdates"/>

            </div>
        </div>

    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import LoadingSpinner from '../components/LoadingSpinner'

    export default {
        components: {
            LoadingSpinner
        },
        created() {
            this.loadUpdates();
        },
        computed: {
            ...mapGetters('applicationUpdates',[
                'updates'
            ]),
            loadingUpdates: function() {
                return this.$store.state.applicationUpdates.loadingUpdates;
            }
        },
        methods: {
            ...mapActions('applicationUpdates',[
                'loadUpdates'
            ]),
        }
    }
</script>

<style lang="scss">
    #home-page {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        background-color: white;
        padding: 60px;
        overflow: auto;
        flex: 1;

        h1, h2 {
            font-weight: normal;
        }

        .links {
            margin-top: 20px !important;
        }

        .updates-container {

            padding: 1rem 2rem;
            border-radius: 6px;

            li, p, h3, h5 {
                text-align: initial;
            }

            .updates-list {
                margin-top: 20px;
                border-radius: 6px;
                background-color: white;
                max-height: 500px;

                .update-entry {
                    padding: 20px;

                    &:not(last-child) {
                        border-bottom: 1px solid #e5e5e5;
                    }

                    .header {
                        display: flex;

                        .title {
                            font-weight: bold;
                            flex: 1;
                        }

                        .update-date {
                            color: #cccccc;
                            font-weight: bold;
                        }
                    }

                    .update-description {
                        margin-top: 20px !important;
                        font-size: 18px;
                    }
                }
            }
        }


    }
</style>
