<template>
    <div id="login-page">

        <div class="login-container">
            <div class="login-container-tabs">
                <p class="login-container-tab" v-bind:class="{active: activeTab === 0}" v-on:click="setLoginTab(0)">
                    Log In
                </p>
                <p class="login-container-tab" v-bind:class="{active: activeTab === 1}" v-on:click="setLoginTab(1)">
                    Sign Up
                </p>
            </div>

            <p class="error-message">{{error !== null ? error.message : ''}}</p>

            <div class="login-inner-container" v-if="activeTab === 0 && !fetching">

                <h5 class="login-container-title">Login into your account to get access to all your info</h5>

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input class="form-control" type="email" placeholder="Email" v-model="userName" v-on:keyup.enter="login()">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input class="form-control" type="password" placeholder="Password" v-model="userPassword" v-on:keyup.enter="login()">
                </div>

                <button class="btn sign-in-button" v-on:click="login()">
                    Sign In
                </button>
            </div>

            <div class="login-inner-container" v-if="activeTab === 1 && !fetching">

                <h5 class="login-container-title">Register to access the application</h5>

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input class="form-control" type="email" placeholder="Email" v-model="userName" v-on:keyup.enter="register()">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input class="form-control" type="password" placeholder="Password" v-model="userPassword" v-on:keyup.enter="register()">
                </div>

                <button class="btn sign-in-button" v-on:click="register()">
                    Register
                </button>
            </div>

            <loading-spinner v-if="fetching"/>
        </div>

    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    import LoadingSpinner from '../components/LoadingSpinner'

    export default {
        components: {
            LoadingSpinner
        },
        data() {
            return {
                activeTab: 0,
                userName: '',
                userPassword: ''
            }
        },
        computed: {
            ...mapState('authentication',{
                fetching: 'loading',
                error: 'authenticationError'
            })
        },
        methods: {
            setLoginTab(tabIndex) {
                this.activeTab = tabIndex;
            },
            login() {
                let payload = {
                    userEmail: this.userName,
                    userPassword: this.userPassword
                };
                this.authenticateUser(payload);
            },
            register() {
                let payload = {
                    userEmail: this.userName,
                    userPassword: this.userPassword
                };
                this.registerUser(payload)
            },
            ...mapActions('authentication',[
                'authenticateUser',
                'registerUser'
            ]),
        }
    }
</script>

<style lang="scss">
    #login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        .login-container {
            width: 300px;
            box-shadow: 0 0 6px black;
            border: 1px solid rgb(187, 187, 187);

            .error-message {
                margin-top: 10px !important;
                color: red;
                text-align: center;
            }

            .login-container-tabs {
                display: flex;


                .login-container-tab {
                    flex: 1;
                    text-align: center;
                    padding: 6px 10px;
                    font-weight: 500;
                    border-bottom: 2px solid rgb(187, 187, 187);
                    background-color: rgb(221, 221, 221);
                    cursor: pointer;

                    &:first-child {
                        border-right: 2px solid rgb(187, 187, 187);
                    }

                    &.active {
                        box-shadow: none;
                        border-bottom: none;
                        background-color: transparent;
                    }
                }
            }

            .login-inner-container {
                display: flex;
                flex-direction: column;
                margin: 20px;

                .login-container-title {
                    margin-bottom: 20px !important;
                    text-align: center;
                    font-size: 18px;
                }

                .sign-in-button {
                    background-color: #37bb82;
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
</style>
