<template>
    <div id="scenarios-page">

        <div class="page-header">
            <h3>Scenario Viewer</h3>

            <span class="flex"></span>

            <!--Campaign Selector-->
            <div class="input-group ml-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="campaign-select">Campaign</label>
                </div>
                <select class="custom-select" id="campaign-select" v-model="selectedCampaignId" v-on:change="selectCampaign()">
                    <option selected :value="null">Choose...</option>
                    <option v-for="campaign in campaigns" :value="campaign.id">
                        {{campaign.name}}
                    </option>
                </select>
            </div>

            <!--Scenario Selector-->
            <div class="input-group ml-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="scenario-select">Scenario</label>
                </div>
                <select class="custom-select" id="scenario-select" v-model="selectedScenarioId" v-on:change="selectScenario()">
                    <option selected :value="null">Choose...</option>
                    <option v-for="scenario in scenarios"  v-on:click="selectScenario(scenario.id)" :value="scenario.id">
                        {{scenario.name}}
                    </option>
                </select>
            </div>

            <button class="btn btn-success" disabled>Save</button>

            <div class="dropdown">
                <icon-button icon-class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" v-on:click="selectCampaign(campaign.id)">
                        Add Scenario
                    </a>
                    <a class="dropdown-item" v-on:click="selectCampaign(campaign.id)">
                        Edit Current Scenario
                    </a>
                    <a class="dropdown-item" v-on:click="selectCampaign(campaign.id)">
                        Delete Current Scenario
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content" v-if="selectedScenario !== null">

            <div class="combat-overview-container">

                <div class="combat-overview-inner-container" :style="gridStyles">
                    <div class="combat-overview-row" v-for="(row,rowIndex) in combatOverviewState">
                        <div class="combat-overview-column"
                             v-for="(column,columnIndex) in row"
                             v-on="{
                             drop: event => endDraggingElement(rowIndex,columnIndex,event),
                             dragover: event => event.preventDefault(),
                             click: () => positionClicked(rowIndex,columnIndex),
                             contextmenu: event => { event.preventDefault(); deleteElement(rowIndex,columnIndex) }
                         }">

                            <div class="combat-overview-element"
                                 v-bind:class="{selected: element.id === hoveredElementId}"
                                 v-for="element in column"
                                 v-on="{
                                 click: () => setSelectedElement(element),
                                 dragstart: event => startDraggingElement(element,event,rowIndex,columnIndex),
                                 dragend: setHoveredElement,
                                 mouseenter: () => setHoveredElement(element),
                                 mouseleave: setHoveredElement
                             }"
                                 draggable="true">
                                <combat-tracker-piece :piece-type="element.pieceType" :active="element.initiative === selectedScenario.activeInitiative"/>
                            </div>

                        </div>
                    </div>

                    <img class="combat-overview-image" src="" :style="backgroundImageStyles">
                </div>


            </div>

            <!--Elements List-->
            <button class="button--circle toggle-combatants-list" @click="toggleCombatantsList(true)">
                <i class="fa fa-angle-right"></i>
            </button>
            <div class="combatants-list column-container" :class="{visible: showCombatantsList, 'show-initiatives': selectedScenario.activeInitiative !== null}">

                <div class="row-container align-center">

                    <!--Next Turn-->
                    <icon-button icon-class="fas fa-play" v-bind:on-click="startNextTurn"/>

                    <!--Next Turn-->
                    <icon-button icon-class="fas fa-times" v-bind:on-click="endCombat"/>

                    <!--Add Combatant-->
                    <icon-button icon-class="fas fa-plus" v-bind:on-click="() => toggleAddCombatantModal(true)"/>

                    <span class="flex"></span>

                    <icon-button icon-class="fas fa-angle-left" v-bind:on-click="() => toggleCombatantsList(false)"/>

                </div>

                <div class="list" v-if="sortedPlayers.length > 0">
                    <h5 class="mb-2">Players</h5>
                    <div class="row-container align-center combatant-entry" v-for="combatant in this.sortedPlayers" draggable="true"
                         v-on="{
                         click: () => setSelectedElement(combatant),
                         dragstart: event => startDraggingElement(combatant,event),
                         mouseenter: () => setHoveredElement(combatant),
                         mouseleave: setHoveredElement}">
                        <div class="initiativeContainer" v-bind:class="{active: combatant.initiative === selectedScenario.activeInitiative}">
                            <span>{{combatant.initiative}}</span>
                        </div>
                        <div class="combatant-entry-info" v-bind:class="{selected: combatant.id === hoveredElementId}">
                            <p class="flex">{{combatant.name}}</p>
                            <p>
                                {{combatant.currentHealth + '/' + combatant.maxHealth}}
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                            <p>
                                {{combatant.armourClass}}
                                <i class="fa fa-shield-alt" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="list" v-if="sortedEnemies.length > 0">
                    <h5 class="mb-2">Enemies</h5>
                    <div class="row-container align-center combatant-entry" v-for="combatant in this.sortedEnemies" draggable="true"
                         v-on="{
                         click: () => setSelectedElement(combatant),
                         dragstart: event => startDraggingElement(combatant,event),
                         mouseenter: () => setHoveredElement(combatant),
                         mouseleave: setHoveredElement}">
                        <div class="initiativeContainer" v-bind:class="{active: combatant.initiative === selectedScenario.activeInitiative}">
                            <span>{{combatant.initiative}}</span>
                        </div>
                        <div class="combatant-entry-info" v-bind:class="{selected: combatant.id === hoveredElementId}">
                            <p class="flex">{{combatant.name}}</p>
                            <p>
                                {{combatant.currentHealth + '/' + combatant.maxHealth}}
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                            <p>
                                {{combatant.armourClass}}
                                <i class="fa fa-shield-alt" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!--Grid Settings-->
            <button class="button--circle toggle-grid-settings" @click="toggleGridSettings(true)">
                <i class="far fa-image" aria-hidden="true"></i>
            </button>
            <div class="grid-settings column-container" :class="{visible: showGridSettings}">

                <div class="row-container align-center mb-3">

                    <b>Grid Settings</b>

                    <span class="flex"></span>

                    <icon-button icon-class="fas fa-times" v-bind:on-click="() => toggleGridSettings(false)"/>

                </div>

                <div class="form-group column-container">
                    <label for="gridWidth">Grid Width</label>
                    <input id="gridWidth" class="form-control" type="number" placeholder="Password" v-model="gridSettings.width">
                </div>
                <div class="form-group column-container">
                    <label for="gridHeight">Grid Height</label>
                    <input id="gridHeight" class="form-control" type="number" placeholder="Password" v-model="gridSettings.height">
                </div>
                <div class="form-group column-container">
                    <label for="backgroundImageFile">Background Image</label>
                    <input id="backgroundImageFile" class="form-control" type="file" placeholder="Select image..." v-on:change="setBackgroundImage($event)">
                </div>
                <div class="form-group column-container">
                    <label for="backgroundImageHeight">Image Height</label>
                    <div class="input-group">
                        <input id="backgroundImageHeight" class="form-control" type="number" placeholder="Enter email" v-model="gridSettings.imageHeight">
                        <div class="input-group-append">
                            <div class="input-group-text">px</div>
                        </div>
                    </div>
                </div>
                <div class="form-group column-container">
                    <label for="backgroundImageTransparency">Transparency</label>
                    <input id="backgroundImageTransparency" class="form-control" type="number" placeholder="Password" v-model="gridSettings.transparency">
                </div>
                <div class="form-group column-container">
                    <label for="exampleInputEmail1">Offset Top</label>
                    <div class="input-group">
                        <input id="exampleInputEmail1" class="form-control" type="number" placeholder="Enter email" v-model="gridSettings.offsetTop">
                        <div class="input-group-append">
                            <div class="input-group-text">px</div>
                        </div>
                    </div>
                </div>
                <div class="form-group column-container">
                    <label for="exampleInputPassword1">Offset Left</label>
                    <div class="input-group">
                        <input id="exampleInputPassword1" class="form-control" type="number" placeholder="Password" v-model="gridSettings.offsetLeft">
                        <div class="input-group-append">
                            <div class="input-group-text">px</div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Element Details-->
            <div class="element-details column-container" v-if="selectedElement !== null" :class="{visible: showElementDetails}">

                <div class="row-container align-center mb-3">

                    <b>Element Details</b>

                    <span class="flex"></span>

                    <icon-button icon-class="fas fa-times" v-bind:on-click="() => toggleElementDetails(false)"/>

                </div>

                <div class="form-group column-container">
                    <label for="elementName">Name</label>
                    <input id="elementName" class="form-control" type="text" placeholder="Name" v-model="selectedElement.name">
                </div>
                <div class="form-group column-container">
                    <label for="elementInitiative">Initiative</label>
                    <input id="elementInitiative" class="form-control" type="number" placeholder="Initiative" v-model="selectedElement.initiative">
                </div>
                <div class="form-group column-container">
                    <label for="elementArmourClass">Armour Class</label>
                    <input id="elementArmourClass" class="form-control" type="number" placeholder="Armour Class" v-model="selectedElement.armourClass">
                </div>
                <div class="form-group column-container">
                    <label for="elementCurrentHealth">Current Health</label>
                    <input id="elementCurrentHealth" class="form-control" type="number" placeholder="Current Health" v-model="selectedElement.currentHealth">
                </div>
                <div class="form-group column-container">
                    <label for="elementMaxHealth">Max Health</label>
                    <input id="elementMaxHealth" class="form-control" type="number" placeholder="Max Health" v-model="selectedElement.maxHealth">
                </div>
            </div>

            <div class="shift-options-container">
                <i class="fas fa-angle-up" aria-hidden="true" @click="shiftGrid(-1,0)"></i>
                <i class="fas fa-angle-left" aria-hidden="true" @click="shiftGrid(0,-1)"></i>
                <i class="fas fa-angle-right" aria-hidden="true" @click="shiftGrid(0,1)"></i>
                <i class="fas fa-angle-down" aria-hidden="true" @click="shiftGrid(1,0)"></i>
            </div>

            <div class="prop-options-container">
                <div class="prop"
                     :class="{selected: selectedPropType === propType}"
                     v-for="propType in propOptions"
                     :key="propType"
                     v-on="{
                             dragstart: event => startDraggingElement(propType,event),
                             dragend: setHoveredElement
                         }"
                     @click="toggleSelectedPropType(propType)"
                     draggable="true">
                    <combat-tracker-piece :piece-type="propType"/>
                </div>
            </div>

        </div>

        <div class="no-campaign-selected"  v-if="selectedCampaignId === null">
            <p>No campaign selected</p>
        </div>

        <add-combatant-modal v-bind:visible="addCombatantIsVisible"
                             v-bind:on-confirm-clicked="combatantsAdded"
                             v-bind:on-cancel-clicked="() => toggleAddCombatantModal(false)"/>
    </div>
</template>

<script>
    import $ from 'jquery'
    import { mapState, mapActions } from 'vuex'

    import Logger from '../services/logger.service'
    import Enums from '../config/enums.config'
    import ScenarioElement from '../models/scenarioElement.model'

    import AddCombatantModal from '../components/AddCombatantModal'
    import IconButton from '../components/IconButton'
    import CombatTrackerPiece from '../components/CombatTrackerPiece'

    export default {
        components: {
            AddCombatantModal,
            IconButton,
            CombatTrackerPiece
        },
        created() {
            this.loadCampaigns();
        },
        data() {
            return {
                gridCellSize: 40,

                combatOverviewWidth: 60,
                combatOverviewHeight: 60,

                addCombatantIsVisible: false,
                selectedCampaignId: null,
                selectedScenarioId: null,
                hoveredElementId: null,
                selectedPropType: null,
                selectedElement: null,

                showCombatantsList: false,
                showGridSettings: false,
                showElementDetails: false,

                propOptions: [
                    Enums.CombatTrackerPieceType.Wall,
                    Enums.CombatTrackerPieceType.Circle,
                    Enums.CombatTrackerPieceType.SmallCircle
                ],
                gridSettings: {
                    width: 50,
                    height: 50,
                    imageHeight: 2060,
                    transparency: 0.6,
                    offsetTop: -25,
                    offsetLeft: -64
                }
            }
        },
        computed: {
            ...mapState('campaigns', [
                'loadingCampaigns',
                'campaigns'
            ]),
            ...mapState('combatTracker', [
                'loadingScenarios',
                'scenarios'
            ]),

            gridStyles: function() {
                return {
                    width: this.gridSettings.width * this.gridCellSize + 'px',
                    height: this.gridSettings.height * this.gridCellSize + 'px'
                }
            },
            backgroundImageStyles: function() {
                return {
                    height: this.gridSettings.imageHeight + 'px',
                    opacity: this.gridSettings.transparency,
                    top: this.gridSettings.offsetTop + 'px',
                    left: this.gridSettings.offsetLeft + 'px'
                }
            },

            selectedCampaign: function() {
                if(this.selectedCampaignId === null) return null;
                else {
                    return this.campaigns.find(campaign => campaign.id === this.selectedCampaignId);
                }
            },
            selectedScenario: function() {
                if(this.selectedScenarioId === null) return null;
                else {
                    return this.scenarios.find(scenario => scenario.id === this.selectedScenarioId);
                }
            },

            sortedPlayers: function() {
                let sortedList = this.selectedScenario.elements.filter(element => element.pieceType === Enums.CombatTrackerPieceType.Character);
                sortedList.sort((a,b) => {
                    if(b.name < a.name) return 1;
                    if(b.name > a.name) return -1;
                    return 0;
                });
                return sortedList;
            },
            sortedEnemies: function() {
                let sortedList = this.selectedScenario.elements.filter(element => element.pieceType === Enums.CombatTrackerPieceType.Enemy);
                sortedList.sort((a,b) => {
                    if(b.name < a.name) return 1;
                    if(b.name > a.name) return -1;
                    return 0;
                });
                return sortedList;
            },

            combatOverviewState: function() {
                let state = [];

                for(let y = 0; y < this.gridSettings.height; y++) {
                    state.push([]);

                    for(let x = 0; x < this.gridSettings.width; x++) {
                        state[y].push([]);

                        let placedElement = this.selectedScenario.elements.find(element => element.positionX === x && element.positionY === y);
                        if(placedElement) {
                            state[y][x].push(placedElement)
                        }
                    }
                }

                return state;
            }
        },
        methods: {
            ...mapActions('campaigns', [
                'loadCampaigns'
            ]),
            ...mapActions('combatTracker', [
                'loadScenarios',
                'startScenariosNextTurn',
                'addElementsToScenario',
                'moveElement',
                'removeElement',
                'shiftScenarioGrid'
            ]),

            selectCampaign: function() {
                if(this.selectedCampaignId !== null) {
                    this.loadScenarios({
                        campaignId: this.selectedCampaignId
                    });
                }
            },
            selectScenario: function() {
                let selectedScenario = this.scenarios.find(scenario => scenario.id === this.selectedScenarioId);

                //Copy scenario grid settings o local variable
                this.gridSettings = {
                    width: selectedScenario.gridWidth,
                    height: selectedScenario.gridHeight,
                    imageHeight: selectedScenario.backgroundImageHeight,
                    transparency: selectedScenario.backgroundImageTransparency,
                    offsetTop: selectedScenario.backgroundImageOffsetTop,
                    offsetLeft: selectedScenario.backgroundImageOffsetLeft
                }
            },

            setHoveredElement: function(element) {
                this.hoveredElementId = element ? element.id : null;
            },
            setSelectedElement: function(element) {
                this.selectedElement = element ? element : null;

                if(this.selectedElement !== null) {
                    this.toggleElementDetails(true);
                }
            },
            setBackgroundImage: function(event) {
                let files = event.target.files;

                if(FileReader && files && files.length) {
                    let fr = new FileReader();
                    fr.onload = () => {
                        $('.combat-overview-image').attr('src', fr.result);
                    };
                    fr.readAsDataURL(files[0]);
                }
            },

            toggleCombatantsList: function(show) {
                this.showCombatantsList = typeof show === 'boolean' ? show : !this.showCombatantsList;
            },
            toggleGridSettings: function(show) {
                this.showGridSettings = typeof show === 'boolean' ? show : !this.showGridSettings;
            },
            toggleSelectedPropType: function(propType) {
                this.selectedPropType = this.selectedPropType !== propType ?  propType : null;
            },
            toggleAddCombatantModal: function(mode) {
                this.addCombatantIsVisible = typeof mode === 'boolean' ? mode : !this.addCombatantIsVisible;
            },
            toggleElementDetails: function(show) {
                this.showElementDetails = typeof show === 'boolean' ? show : !this.showElementDetails;
            },

            combatantsAdded: function(combatants) {
                this.addElementsToScenario({
                    scenarioId: this.selectedScenarioId,
                    newElements: combatants
                });
            },
            startNextTurn: function() {
                this.startScenariosNextTurn({
                    scenarioId: this.selectedScenarioId
                });
            },
            endCombat: function() {
                this.selectedScenario.activeInitiative = null;
            },

            startDraggingElement: function(element,event,rowIndex,columnIndex) {
                //In case its a prop
                if(typeof element !== 'number') {
                    this.setHoveredElement(element);
                }
                event.dataTransfer.setData('text/plain',JSON.stringify({
                    element,
                    rowIndex,
                    columnIndex
                }));
            },
            endDraggingElement: function(rowIndex,columnIndex,event) {
                let data = JSON.parse(event.dataTransfer.getData('text/plain'));

                if(this.selectedScenario.elements.findIndex(element => element.positionX === columnIndex && element.positionY === rowIndex) !== -1) {
                    Logger.logWarning('Piece cannot be placed there',data,true);
                    return;
                }

                if(typeof data.element !== 'number') {
                    this.moveElement({
                        scenarioId: this.selectedScenarioId,
                        elementId: data.element.id,
                        newPositionX: columnIndex,
                        newPositionY: rowIndex
                    });

                    this.setHoveredElement();
                }
                else {
                    this.addElementsToScenario({
                        scenarioId: this.selectedScenarioId,
                        newElements: [
                            new ScenarioElement({
                                pieceType: data.element,
                                positionX: columnIndex,
                                positionY: rowIndex
                            })
                        ]
                    });
                }
            },

            shiftGrid: function(rowModifier,columnModifier) {
                let minimumRow = null;
                let minimumColumn = null;
                let maximunRow = null;
                let maximunColumn = null;

                this.selectedScenario.elements.forEach(element => {
                    if(minimumColumn === null || element.positionX < minimumColumn) minimumColumn = element.positionX;
                    if(maximunColumn === null || element.positionX > maximunColumn) maximunColumn = element.positionX;
                    if(minimumRow === null || element.positionY < minimumRow) minimumRow = element.positionY;
                    if(maximunRow === null || element.positionY > maximunRow) maximunRow = element.positionY;
                });

                if(
                    (minimumRow + rowModifier) >= 0 &&
                    (maximunRow + rowModifier) <= this.gridSettings.height - 1 &&
                    (minimumColumn + columnModifier) >= 0 &&
                    (maximunColumn + columnModifier) <= this.gridSettings.width - 1
                ) {
                    this.shiftScenarioGrid({
                        scenarioId: this.selectedScenarioId,
                        columnModifier,
                        rowModifier
                    });
                }
            },

            positionClicked: function(rowIndex,columnIndex) {
                if(this.selectedPropType !== null) {
                    if(this.selectedScenario.elements.findIndex(element => element.positionX === columnIndex && element.positionY === rowIndex) !== -1) {
                        Logger.logWarning('Piece cannot be placed there',data,true);
                        return;
                    }

                    this.addElementsToScenario({
                        scenarioId: this.selectedScenarioId,
                        newElements: [
                            new ScenarioElement({
                                pieceType: this.selectedPropType,
                                positionX: columnIndex,
                                positionY: rowIndex
                            })
                        ]
                    });
                }
            },
            deleteElement: function(rowIndex,columnIndex) {
                let selectedElement = this.selectedScenario.elements.find(element => element.positionX === columnIndex && element.positionY === rowIndex);

                if(selectedElement !== null) {
                    if(!selectedElement.isCombatant()) {
                        this.removeElement({
                            scenarioId: this.selectedScenarioId,
                            elementId: selectedElement.id
                        });
                    }
                    else {
                        this.moveElement({
                            scenarioId: this.selectedScenarioId,
                            elementId: selectedElement.id,
                            newPositionX: null,
                            newPositionY: null
                        });
                    }
                }

            }
        }
    }
</script>

<style lang="scss">
    $combatantsListWidth: 320px;
    $scenarioGridCellSize: 40px;

    #scenarios-page {
        flex: 1;
        display: flex;
        flex-direction: column;

        .page-header {
            display: flex;
            height: 50px;
            padding: 0 30px;
            background-color: white;
            flex-direction: row;
            align-items: center;
            box-shadow: 0 0 4px #8c8c8c;
            z-index: 1;

            button {
                margin-left: 10px;
            }

            .dropdown button::after {
                    content: none;
                }

            .campaign-title {
                margin-left: 10px !important;
                color: #696969
            }
        }

        .page-content {
            position: relative;
            display: flex;
            flex-direction: row;
            flex: 1;
            overflow: hidden;

            .toggle-combatants-list {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 20;
            }
            .toggle-grid-settings {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 20;
            }

            .combatants-list, .element-details {
                position: absolute;
                width: $combatantsListWidth;
                top: 10px;
                left: -330px;
                z-index: 100;
                background-color: white;
                padding: 10px;
                border-radius: 4px;
                box-shadow: 0 0 10px 4px #848484;
                transition: left 0.4s;

                &.visible {
                    left: 10px;
                }

                &.show-initiatives .list {
                    .initiativeContainer {
                        opacity: 1 !important;
                    }
                    .combatant-entry-info {
                        padding-left: 34px !important;
                    }
                }

                .list {
                    flex: 1;
                    padding: 10px;
                    overflow: auto;

                    .combatant-entry {
                        position: relative;
                        margin-bottom: 4px;

                        .initiativeContainer {
                            position: absolute;
                            left: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            border-radius: 15px;
                            box-shadow: 0 0 2px 2px #696969;
                            background-color: white;
                            margin-right: -20px;
                            z-index: 1;
                            opacity: 0;
                            transition: box-shadow 0.2s, opacity 0.4s;

                            &.active {
                                box-shadow: 0 0 8px 4px #37bb82;
                            }
                        }

                        .combatant-entry-info {
                            padding-left: 8px;
                            padding-right: 4px;
                            flex: 1;
                            display: flex;
                            margin: 4px;
                            box-shadow: 0 0 4px #8c8c8c;
                            background-color: white;
                            border-radius: 4px;
                            transition: box-shadow 0.2s, padding 0.4s;

                            &.selected {
                                box-shadow: 0 0 8px 4px #37bb82;
                            }
                        }
                    }
                }
            }

            .grid-settings {
                position: absolute;
                width: $combatantsListWidth;
                top: 10px;
                right: -330px;
                z-index: 100;
                background-color: white;
                padding: 10px;
                border-radius: 4px;
                box-shadow: 0 0 10px 4px #848484;
                transition: right 0.4s;

                &.visible {
                    right: 10px;
                }
            }

            .combat-overview-container {
                flex: 1;
                background-color: white;
                position: relative;
                overflow-x: auto;
                overflow-y: auto;


                .combat-overview-inner-container {
                    position: relative;
                    margin: 60px 300px;
                    overflow: hidden;
                    border: 1px solid #696969;
                }
                .combat-overview-row {
                    display: flex;
                    height: $scenarioGridCellSize;
                    min-height: $scenarioGridCellSize;

                    &:not(:last-child) {
                        border-bottom: 1px solid #696969;
                    }
                }
                .combat-overview-column {
                    width: $scenarioGridCellSize;
                    min-width: $scenarioGridCellSize;
                    z-index: 10;

                    &:not(:last-child) {
                        border-right: 1px solid #696969;
                    }
                }
                .combat-overview-element {
                    width: $scenarioGridCellSize;
                    height: $scenarioGridCellSize;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: box-shadow 0.2s;

                    &.selected {
                        box-shadow: 0 0 4px 4px #3ef5b5;
                    }

                    i {
                        font-size: 24px;
                    }
                }

                .combat-overview-image {
                    position: absolute;
                    //opacity: 0.6;
                    width: auto;
                    //height: 2060px;
                    //left: -64px;
                    //top: -25px;
                }
            }
        }

        .shift-options-container {
            position: fixed;
            bottom: 30px;
            right: 30px;
            background-color: white;
            border-radius: 40px;
            border: 2px solid #cdcdcd;
            box-shadow: 0 0 4px #8c8c8c;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 20;

            .fa-angle-up, .fa-angle-down, .fa-angle-left, .fa-angle-right {
                position: absolute;
                transition: color 0.2s;
                cursor: pointer;
                font-size: 32px;

                &:hover {
                    color: #37bb82;
                }
            }
            .fa-angle-up {
                left: 28px;
                top: 0;
            }
            .fa-angle-down {
                left: 28px;
                bottom: 0;
            }
            .fa-angle-left {
                top: 22px;
                left: 6px;
            }
            .fa-angle-right {
                top: 22px;
                right: 6px;
            }
        }

        .prop-options-container {
            position: fixed;
            right: 120px;
            bottom: 20px;
            display: flex;
            z-index: 20;

            .prop {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: white;
                border: 2px solid #cdcdcd;
                transition: box-shadow 0.2s;
                box-shadow: 0 0 4px #8c8c8c;

                &.selected {
                    box-shadow: 0 0 8px 4px #37bb82;
                }

                .combat-tracker-piece {
                    width: 20px;
                    height: 20px;

                    div {
                        transition: background-color 0.2s;
                    }

                }

                &:hover .combat-tracker-piece div {
                    background-color: #37bb82;
                }
            }
        }

        .no-campaign-selected {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button--circle {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: white;
            border: 2px solid #cdcdcd;
            transition: box-shadow 0.2s;
            box-shadow: 0 0 4px #8c8c8c;
        }
    }
</style>
