<template>
    <div id="c-add-combatant-modal" class="modal-backdrop" v-bind:class="{visible}" @click="closeModal()">

        <div class="modal-container" @click.stop>

            <div class="modal-header">
                <h4>Add Combatant</h4>
            </div>

            <div class="modal-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Armour Class</th>
                        <th>Maximum Health</th>
                        <th>Initiative</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(combatant,index) in combatants" :key="combatant.id">
                        <td>
                            <input type="text" class="form-control" placeholder="Name" v-model="combatant.name">
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="Armour Class" v-model.number="combatant.armourClass">
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="Maximum Health" v-model.number="combatant.maxHealth">
                        </td>
                        <td>
                            <input type="number" class="form-control" placeholder="Initiative" v-model.number="combatant.initiative">
                        </td>
                        <td class="d-flex">
                            <icon-button icon-class="far fa-clone" v-bind:on-click="() => duplicateElement(index)"></icon-button>
                            <icon-button icon-class="fas fa-times" v-bind:on-click="() => deleteElement(index)"></icon-button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button class="add-combatant-button" @click="addElement()">
                                Add More
                                <i class="fa fa-plus ml-2"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>


            <div class="modal-footer">

                <button class="btn btn-light" @click="closeModal()">
                    Cancel
                </button>

                <button class="btn btn-success" :disabled="!canSave" @click="confirmCombatant()">
                    Confirm
                </button>

            </div>
        </div>

    </div>
</template>

<script>
    import CommonService from '../services/common.service'
    import Logger from '../services/logger.service'
    import Enums from '../config/enums.config'

    import CustomInput from './CustomInput'
    import IconButton from './IconButton'

    import ScenarioElement from '../models/scenarioElement.model'

    export default {
        props: {
            visible: {
                type: Boolean,
                required: true
            },
            onConfirmClicked: {
                type: Function
            },
            onCancelClicked: {
                type: Function
            }
        },
        components: {
            IconButton,
            CustomInput
        },
        data() {
            return {
                combatants: []
            }
        },
        watch: {
            visible: function(show) {
                if(show) {
                    this.combatants = [new ScenarioElement()];
                }
            }
        },
        computed: {
            canSave: function() {
                if(this.combatants.length === 0) return false;

                return this.combatants.every(combatant => {
                    if(combatant.name.trim() === '') return false;
                    if(combatant.maxHealth === null || combatant.maxHealth <= 0 || combatant.maxHealth % 1 !== 0) return false;
                    if(combatant.armourClass === null || combatant.armourClass <= 0 || combatant.armourClass % 1 !== 0) return false;
                    if(combatant.initiative !== null && (combatant.initiative <= 0 || combatant.initiative > 20 || combatant.initiative % 1 !== 0)) return false;

                    return true;
                });
            },
            selectedCampaign: function() {
                if(this.selectedCampaignId === null) return null;
                else {
                    return this.userCampaigns.find(campaign => campaign.id === this.selectedCampaignId);
                }
            }
        },
        methods: {
            addElement: function() {
                this.combatants.push(new ScenarioElement());
            },
            deleteElement: function(elementIndex) {
                this.combatants.splice(elementIndex,1);
            },
            duplicateElement: function(elementIndex) {
                let elementCopy = new ScenarioElement(this.combatants[elementIndex]);
                elementCopy.id = CommonService.generateGUID();

                this.combatants.splice(elementIndex,0,elementCopy);
            },

            closeModal: function() {
                this.onCancelClicked();
            },
            confirmCombatant: function() {
                this.onConfirmClicked(this.combatants);
                this.closeModal();
            }
        }
    }
</script>

<style lang="scss">
    #c-add-combatant-modal {

        .add-combatant-button {
            width: 100%;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #c7c7c7;
            border: 3px dashed #c7c7c7;
            border-radius: 4px;
            transition: color 0.2s, border-color 0.2s;

            &:hover {
                color: #37bb82;
                border-color: #37bb82;
            }
        }

    }
</style>
