<template>
    <div class="modal-backdrop" v-bind:class="{visible}" @click="closeModal()">

        <div class="modal-container" @click.stop>

            <div class="modal-header" v-if="!saving">
                <h4>Add Campaign</h4>
            </div>

            <div class="modal-content">

                <CustomInput label="Name of the new campaign"
                             placeholder="Ex: New Campaign"
                             v-bind:on-value-changed="(newValue) => this.campaignName = newValue"
                             v-on:keyup.enter="confirm"
                             v-if="!saving"/>

                <LoadingSpinner v-if="saving"/>

            </div>

            <div class="modal-footer" v-if="!saving">

                <button class="btn btn-light" @click="closeModal()">
                    Cancel
                </button>

                <button class="btn btn-success" @click="confirm()">
                    Confirm
                </button>

            </div>

        </div>

    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    import Logger from '../services/logger.service'

    import CampaignModel from '../models/campaign.model'

    //Components
    import CustomInput from './CustomInput'
    import LoadingSpinner from './LoadingSpinner'

    export default {
        props: {
            visible: {
                type: Boolean,
                required: true
            },
            onConfirmClicked: {
                type: Function
            },
            onCancelClicked: {
                type: Function
            }
        },
        components: {
            CustomInput,
            LoadingSpinner
        },
        data() {
            return {
                saving: false,
                campaignName: ''
            }
        },
        computed: {
            selectedCampaign: function() {
                if(this.selectedCampaignId === null) return null;
                else {
                    return this.userCampaigns.find(campaign => campaign.id === this.selectedCampaignId);
                }
            }
        },
        methods: {
            ...mapActions('campaigns',[
                'addCampaign'
            ]),

            closeModal: function() {
                this.onCancelClicked();
            },
            confirm: function() {
                //Validate Data
                if(this.campaignName.trim() === '') {
                    Logger.logWarning('No name given',this.campaignName,true);
                    return;
                }

                let newCampaignModel = new CampaignModel({
                    name: this.campaignName.trim()
                });

                this.saving = true;
                this.addCampaign({
                    campaignModel: newCampaignModel
                })
                    .then(() => {
                        this.saving = false;
                        Logger.logSuccess('Campaign created successfully',newCampaignModel,true);
                        this.closeModal();
                    })
                    .catch((error) => {
                        this.saving = false;
                        Logger.logError('Error creating new campaign',error,true);
                    });
            }
        }
    }
</script>

<style lang="scss">

</style>
