<template>
    <div class="book-list-entry" v-bind:style="'border-left-color: ' + bookCategoryColor">
        <p class="book-entry-name">{{bookName}}</p>
    </div>
</template>

<script>
    import enums from '../config/enums.config'

    export default {
        name: "book-list-entry",
        props: ['bookName', 'bookCategoryId'],
        data() {
            return {
                bookCategories: enums.BookCategory
            }
        },
        computed: {
            bookCategoryColor: function() {
                return this.bookCategories.properties[this.bookCategoryId].Color;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .book-list-entry {
        margin: 4px;
        padding: 2px 8px;
        border-radius: 4px;
        border-left: solid 8px;
        background-color: #ffffff;
        box-shadow: 0 0 4px #8c8c8c;
        cursor: pointer;

        .book-entry-name {
            flex: 1;
            margin-left: 4px;
        }
        .book-entry-category {
            font-weight: bold;
        }
    }
</style>
