<template>
    <button class="circle-button">
        <i class="fas" v-bind:class="[iconClass]" aria-hidden="true" v-bind:style="'color:' + [iconColor]"></i>
    </button>
</template>

<script>
    export default {
        name: "circle-button",
        props: [
            'iconClass',
            'iconColor'
        ]
    }
</script>

<style lang="scss" scoped>
    .circle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: none;
        background-color: transparent;
        transition: background-color 0.4s;

        &:hover {
            background-color: rgba(205,205,205,0.4);
        }
        &:active {
            background-color: rgba(205,205,205,0);
        }

        &:focus {
            outline:0;
        }
    }
</style>
