<template>
    <div class="combat-tracker-piece">

        <i :class="[isEnemy ? 'fas fa-skull' : 'fas fa-user',{active}]" aria-hidden="true" v-if="isCombatant"></i>

        <div :class="propClass" v-else></div>

    </div>
</template>

<script>
    import Enums from '../config/enums.config'

    export default {
        props: {
            pieceType: {
                type: Number,
                required: true
            },
            active: {
                type: Boolean,
                default: false
            },
            color: {
                type: String,
                default: 'black'
            }
        },
        data() {
            return {
                CombatTrackerPieceType: Enums.CombatTrackerPieceType
            }
        },
        computed: {
            isEnemy: function() {
                return this.pieceType === Enums.CombatTrackerPieceType.Enemy;
            },
            isCombatant: function() {
                return this.pieceType === Enums.CombatTrackerPieceType.Character || this.pieceType === Enums.CombatTrackerPieceType.Enemy;
            },
            propClass: function() {
                switch (this.pieceType) {
                    case Enums.CombatTrackerPieceType.Wall: {
                        return 'wall'
                    }
                    case Enums.CombatTrackerPieceType.Circle: {
                        return 'circle'
                    }
                    case Enums.CombatTrackerPieceType.SmallCircle: {
                        return 'small-circle'
                    }
                    default: {
                        return null
                    }
                }
            }
        }
    }
</script>

<style lang="scss">
    .combat-tracker-piece {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        i.active {
            animation: jump 1.5s ease 0s infinite normal;
        }

        .wall, .circle, .small-circle {
            width: 100%;
            height: 100%;
            background-color: #373737;
        }
        .circle {
            border-radius: 50%;
        }
        .small-circle {
            width: 60%;
            height: 60%;
            border-radius: 60%;
        }

        @keyframes jump {
            0%{
                transform: translateY(0);
            }
            20%{
                transform: translateY(0);
            }
            40%{
                transform: translateY(-8px);
            }
            50%{
                transform: translateY(0);
            }
            60%{
                transform: translateY(-4px);
            }
            80%{
                transform: translateY(0);
            }
            100%{
                transform: translateY(0);
            }
        }
    }
</style>
