<template>
    <div class="custom-input">

        <label v-bind:for="componentId">
            <b>{{label + (labelDescription ? ': ' : '')}}</b>
            <span>{{labelDescription}}</span>
        </label>

        <input v-bind:id="componentId"
               type="text"
               v-bind:placeholder="placeholder"
               v-model="value"
               v-on:blur="onValueChanged(value)"
                v-if="type !== 'textarea'">

        <textarea v-bind:id="componentId"
                  rows="3"
                  v-model="value"
                  v-bind:placeholder="placeholder"
                  v-on:blur="onValueChanged(value)"
                  v-if="type === 'textarea'"></textarea>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        data() {
            return  {
                value: null
            }
        },
        created() {
            this.value = this.initialValue;
        },
        computed: {
            componentId: function() {
                return 'customInput' + this.label.replace(' ','');
            }
        },
        watch: {
            initialValue: function(newValue) {
                this.value = newValue;
            }
        },
        props: {
            label: {
                type: String,
                required: true
            },
            labelDescription: {
                type: String,
                default: ''
            },
            type: {
                type: String,
                default: 'text'
            },
            onValueChanged: {
                type: Function,
                required: true
            },
            placeholder: {
                type: String,
                default: ''
            },
            initialValue: {
                default: null
            }
        }
    }
</script>

<style lang="scss">
    .custom-input {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 600;

            span {
                margin-left: 10px;
                font-size: 14px;
                color: #9b9b9b
            }
        }

        input, textarea {
            border-radius: 4px;
            border: 1px solid #f7f7f7;
            background-color: #f7f7f7;
            transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
            padding: 4px;

            &:focus {
                box-shadow: 0 0 4px #37bb82;
                border: 1px solid #37bb82;
                outline: none;
                background-color: white;
            }
        }

        textarea {
            resize: none;
        }
    }
</style>
