<template>
    <div class="editable-text-component">
        <div class="editable-text-button" v-on:click="startEditing()" v-if="newValue === null">
            <p>{{text}}</p>
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </div>
        <input class="editable-text-input" type="text" v-on:keyup.enter="commitEditing()" v-on:blur="commitEditing()"
               v-on:keyup.esc="stopEditing()" v-model="newValue" v-else autofocus>
    </div>
</template>

<script>
    export default {
        name: "editable-text",
        props: {
            text: {},
            noWrap: {
                type: Boolean
            },
            onChange: {
                type: Function
            }
        },
        data: function () {
            return {
                newValue: null,
            }
        },
        methods: {
            startEditing() {
                this.newValue = this.text;
            },
            commitEditing() {
                if (this.newValue !== null) {
                    this.onChange(this.newValue);
                    this.stopEditing();
                }
            },
            stopEditing() {
                this.newValue = null;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .editable-text-component {
        display: flex;

        .editable-text-button {
            display: flex;
            align-items: center;
            flex: 1;
            cursor: pointer;

            &:hover i {
                opacity: 0.8;
            }

            p {
                margin: 0;
            }

            i {
                margin-left: 10px;
                font-size: 12px;
                opacity: 0;
                transition: opacity 0.15s;
            }
        }

        .editable-text-input {
            flex: 1;
            border: none;
            background-color: transparent;
            outline: none;
            color: inherit;
        }
    }
</style>
