<template>
    <button class="icon-button" v-on:click="onClick">
        <i v-bind:class="[{disabled}, iconClass]" aria-hidden="true"></i>
    </button>
</template>

<script>
    export default {
        name: "icon-button",
        props: {
            iconClass: {
                type: String,
                required: true
            },
            onClick: {
                type: Function,
                default: () => {}
            },
            disabled: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<style lang="scss">
    .icon-button {
        width: 26px;
        height: 26px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        color: #9b9b9b;
        transition: background-color 0.2s, color 0.2s;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #37bb82;
            color: white
        }
    }
</style>
