<template>
    <div id="sidebar">

        <ul class="app-links">
            <li v-for="link in links" :key="link.title" :title="link.title">
                <router-link class="link" :to="link.to">
                    <i :class="'fa ' + link.icon"></i>
                </router-link>
            </li>
        </ul>

        <button type="button" class="btn btn-danger" v-on:click="logoutButtonPressed()">
            <i class="fa fa-power-off" aria-hidden="true"></i>
        </button>
    </div>
</template>

<script>
    import alertify from 'alertify.js'
    import { mapActions } from 'vuex'

    export default {
        data() {
            return {
                links: [
                    {
                        title: 'Home',
                        icon: 'fa-home',
                        to: '/home'
                    },
                    {
                        title: 'Campaigns',
                        icon: 'fa-compass',
                        to: '/campaigns'
                    },
                    {
                        title: 'Books',
                        icon: 'fa-book',
                        to: '/books'
                    },
                    {
                        title: 'Scenarios',
                        icon: 'fa-shield-alt',
                        to: '/scenarios'
                    }
                ]
            }
        },
        methods: {
            logoutButtonPressed: function() {
                alertify
                    .okBtn("Confirm")
                    .confirm('Are you sure you want to logout?',() => {
                    this.logoutUser();
                });
            },
            ...mapActions('authentication',[
                'logoutUser'
            ])
        }
    }
</script>

<style lang="scss">
    #sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        background-color: #37bb82;
        padding: 6px;
        z-index: 200;

        .app-links {
            flex: 1;
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 10px;
            }
        }

        .link {
            display: block;
            padding: 10px;
            color: white;
            border-radius: 10px;
            transition: background-color 0.4s;

            &:hover {
                background-color: rgba(230, 230, 230, 0.4);
            }
        }
    }
</style>
