h1, h2, h3, h4, h5, p {
    margin: 0 !important;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &:disabled {
        cursor: pointer;
    }
}

a {
    cursor: pointer;
}

.btn, .form-control {
    padding: 0 4px !important;
    width: auto !important;
    height: auto !important;
}

.column-container {
    display: flex;
    flex-direction: column;
}
.row-container {
    display: flex;
    flex-direction: row;
}

.row-container.align-center {
    align-items: center;
}

.flex {
    flex: 1;
}

.btn-success {
    background-color: #37bb82;
    border-color: #37bb82;
}

//Modal
.modal-backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.4s;
    pointer-events: none;

    .modal-container {
        display: flex;
        flex-direction: column;
        margin-top: 2000px;
        box-shadow: 0 0 10px 4px #696969;
        background-color: white;
        min-width: 300px;
        //min-height: 400px;
        transition: margin-top 0.4s;

        .modal-header {
            padding: 10px;
            background-color: #37bb82;
            color: white;
            border-radius: 0;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 10px;
            border-radius: 0;
            box-shadow: none;
            border: none;
        }

        .modal-footer {
            padding: 10px;
            border-top: none;
        }
    }

    &.visible {
        pointer-events: auto;
        background-color: rgba(0,0,0,0.4);

        .modal-container {
            margin-top: 0
        }
    }
}

//Custom Scrollbar Styles

::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0;
    background-color: #AAA;
}
::-webkit-scrollbar-button:hover {
    background-color: #AAA;
}
::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #CCC;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.alertify .dialog input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 4px 12px !important;
}

//Custom Bootstrap Styles
.input-group {
    width: auto;
}
