<template>
    <div id="app">

        <div class="content" v-if="isAuthenticated && !isLoading">
            <sidebar/>
            <div class="inner-content">
                <router-view/>
            </div>
        </div>

        <login-page v-if="!isAuthenticated && !isLoading"/>

        <loading-spinner v-if="isLoading"/>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    import Sidebar from './components/TheSidebar.vue'
    import LoadingSpinner from './components/LoadingSpinner'
    import LoginPage from './pages/Login.page'

    export default {
        name: 'app',
        components: {
            Sidebar,
            LoadingSpinner,
            LoginPage
        },
        created: function () {
            this.startup();
        },
        data() {
            return {
                loadingApp: true
            }
        },
        computed: {
            isLoading: function () {
                let isLoading = !this.$store.state.startup.appIsReady;

                //Hide loading overlay after app is ready
                if(!isLoading) {
                    setTimeout(() => {
                        document.getElementById('app-loading-overlay').className += ' ready';
                    }, 1000);
                }

                return isLoading;
            },
            isAuthenticated: function () {
                return this.$store.state.authentication.isAuthenticated;
            }
        },
        methods: {
            ...mapActions('startup', [
                'startup'
            ])
        }
    }
</script>

<style lang="scss">
    #app {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #f5f5f5;

        .content {
            margin-left: 50px;
            height: 100%;

            .inner-content {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
    }
</style>
